.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
.dash-search {
  display: flex;
  background-color: #434957;
  border-radius: 3px;
}
.field-search {
  margin-left: 2px;
  flex: 1;
}
