.Static-info {
  background-color: white;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f1eeee;
  display: flex;
  gap: 2rem;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem 2rem;
  width: 50rem;
  text-align: left !important;
  justify-content: left !important;
}
.Static-info img {
  width: 13rem;
  height: 13rem;
  padding-left: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
.icon {
  margin-bottom: 2px;
}
.t-info h2 {
  font-size: 1.8rem;
  color: #000000bb;
}

.edit-info {
  padding: 0.7rem 2rem;
  margin: 1rem 2rem;
  background-color: #1212cb;
  color: white;
  border-radius: 10px;
  border: none;
  display: inline-flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem; /* Adjust as needed */
  transition: margin-right 0.3s ease; /* Add transition */
}

.icon:hover {
  padding-right: 0.5rem; /* Move icon to the right on hover */
}

.edit-trainerInfo {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 1rem; /* Gap between grid items */
  max-width: 700px; /* Maximum width of the card */
  margin: 4rem auto; /* Center the card horizontally */
  padding: 5rem; /* Padding for the card */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f1eeee; /* Border for the card */
  border-radius: 10px; /* Border radius for the card */
  background-color: white; /* Background color for the card */
}
.edit-trainerInfo input:not([type="file"]) {
  border: 1px solid #312d2dd8;
}
.edit-trainerInfo label {
  display: block; /* Ensure label and input are on separate lines */
}

.edit-trainerInfo input {
  width: 100%; /* Full width input */
  padding: 0.5rem; /* Padding for input */
  margin-top: 0.5rem; /* Margin for input */
  border-radius: 10px;
}

.edit-trainerInfo button {
  width: 100%; /* Full width button */
  padding: 0.5rem; /* Padding for button */
  background-color: #1212cb; /* Background color for button */
  color: white; /* Text color for button */
  border: none; /* Remove border */
  border-radius: 5px; /* Border radius for button */
  cursor: pointer; /* Cursor style */
}

/* Center the button */
.edit-trainerInfo div {
  width: 15rem; /* Span across two columns */
  text-align: center; /* Center text */
}
.t-fileInputLabel {
  cursor: pointer; /* Change cursor to pointer on hover */
  display: inline-block;
  margin: 0 auto;
  background-color: #1212cb;
  border-radius: 10px;
  color: white;
  padding: 1.5rem 3rem;
  /* Add some spacing between the icon and the label */
}

.t-fileInput {
  display: none; /* Hide the input visually */
  color: #f1eeee;
}

.t-fileInputIcon {
  font-size: 30px; /* Adjust icon size as needed */
  color: #fffbfb; /* Adjust icon color as needed */
}
.t-fileInputIcon:hover {
  background-color: #ddd6d656; /* Adjust icon color as needed */
}
/*



*/
.upload {
  max-width: 700px; /* Maximum width of the card */
  margin: 0 auto; /* Center the card horizontally */
  padding: 2rem; /* Increase padding for the card */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f1eeee; /* Border for the card */
  border-radius: 10px; /* Border radius for the card */
  background-color: white; /* Background color for the card */
}

.U-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 1rem; /* Gap between grid items */
}

.upload label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload input[type="file"] {
  margin-bottom: 0.5rem;
}

.upload .title {
  width: 100%;
  margin-bottom: 0.5rem;
}

.description {
  width: 50rem;
  height: 10rem; /* Increased height for textarea */
  resize: vertical; /* Allow vertical resizing */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds height */
}

/* Styling for PDF error message */
.upload .pdf-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/* Styling for buttons */
.upload button {
  padding: 0.5rem 1rem;
  background-color: #1212cb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for buttons on hover */
.upload button:hover {
  background-color: #0000a2;
}
.Transformations {
  margin: 1rem;
}
.Transformations h2 {
  font-size: 2.5rem;
  color: #000000;
  margin: 1rem;
}
.Transformations textarea {
  border-radius: 10px;
  width: 30rem;
  height: 15rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
.trans-title {
  border: 1px solid #2f2b2bdf;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.password-input {
  position: relative;
}

.password-input input {
  padding-right: 3rem; /* Space for the icon */
}

.password-input .password-icon {
  position: absolute;
  right: 1rem;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}
