.sideNav {
  background-color: var(--color-grey-0);
  padding: 3.2rem 2.4rem;
  border-right: 1px solid var(--color-grey-100);
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.Dash-links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.StyledNavLink,
.StyledNavLink:link,
.StyledNavLink:visited {
  display: flex;
  align-items: center;
  font-family: Monterrat;
  gap: 1.2rem;
  color: var(--color-grey-600);
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem 2.2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.StyledNavLink:active,
.StyledNavLink.active:link,
.StyledNavLink.active:visited {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
}
.StyledNavLink svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.StyledNavLink:hover,
.StyledNavLink:active,
.StyledNavLink.active:link,
.StyledNavLink.active:visited {
  color: brown;
  transform: scale(1.2);
}
.TrainerIcon {
  border-radius: 30%;
}
