.about-container {
  background-image: url("./../../Assets/images/about.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
}

.about-content {
  position: relative;
  z-index: 1;
  color: white;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
}

.about-title {
  color: white;
  font-family: Azonix;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text {
  color: white;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 1.4;
  max-width: 90%;
}

.about2-image {
  width: 80%;
  max-width: 350px;
  margin-top: 20px;
  border-radius: 10px;
}

.b-joinUs {
  border: 2px solid #bd2020;
  display: inline-flex;
  font-family: Bebas Neue;
  font-size: 1.5rem;
  padding: 9px 35px;
  margin: 1rem 0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.b-joinUs:hover {
  background-color: #890808;
  transform: scale(1.05);
}

.arrow {
  margin: 0.3rem;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    padding: 50px;
  }

  .about-content {
    text-align: left;
    padding: 50px;
  }

  .about-title {
    font-size: 3rem;
  }

  .about-text {
    font-size: 1.2rem;
    max-width: 80%;
    margin-left: 5rem;
  }

  .about2-image {
    width: 350px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    margin: 0;
  }

  .b-joinUs {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .about-title {
    font-size: 4rem;
  }

  .about-text {
    font-size: 1.5rem;
    max-width: 70%;
  }

  .b-joinUs {
    font-size: 2.3rem;
  }
}
