.footer {
  background-color: #161617;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Privacy {
  margin: 0;
}
.footer-name {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
}
