.V-container {
  background-image: url("./../../../Assets/images/Background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.V-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 120rem;
}

.V-details {
  flex: 1;
  padding: 20px;
}

.V-details h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
}

.V-details p {
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
}

.V-image img {
  max-width: 100%; /* Ensure the image does not exceed its container's width */
  height: auto;
  max-height: 70rem; /* Set maximum height for the image */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .V-content {
    flex-direction: column; /* Stack content vertically on smaller screens */
  }

  .V-details,
  .V-image {
    flex: auto; /* Allow both sections to take up the available space equally */
    padding: 0; /* Remove padding to save space */
  }
}
