.Workout-container {
  background-image: url("./../../../Assets/images/Background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  padding: 50px;
}
.workout-list h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
  cursor: pointer;
}
.workout-list h1:hover {
  color: #d61717;
}
.workout-menu {
  padding: 2rem;
  width: 500px;
  border: 2px solid #fff;
}
.button {
  cursor: pointer;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  border-style: double;
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(
    rgb(54, 53, 53),
    rgb(0, 0, 0),
    rgb(54, 54, 54)
  );
  color: rgb(164, 164, 162);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgb(0, 0, 0);
  transition: 400ms;
}

.button:hover {
  transition: 400ms;
  border-style: double;
  border-color: rgb(208, 207, 207);
  color: rgb(219, 216, 216);
  font-size: 25px;
  text-shadow: 1px 10px 5px rgb(61, 61, 61);
}
.exe-title h1 {
  font-size: 4rem;
  color: #fff;
  font-family: Azonix;
  text-align: center;
}
.exe-title h2 {
  font-size: 2rem;
  color: #fff;
  font-family: Monterrat;
  text-align: center;
}
.workout-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: space-around;
  padding: 5rem;
}
.workout-list hr {
  color: #fff7f7;
}
.view-btn {
  color: #fff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.view-btn :hover {
  color: #c0baba;
}
.workout-item {
  width: calc(100% - 1rem);
  border: 1px solid #000000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 15px 15px 20px #000000;
}
.workout-item h1 {
  font-size: 2.5rem;
  margin: 1rem;
  color: white;
  font-family: Monterrat;
}
.workout-item p {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: helvetica;
  font-weight: 400;
}
.exe-filter {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 2rem;
}
.workout-card-image {
  width: 100%;
  height: 180px; /* Adjust the height according to your design */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 8px 8px 0 0; /* Rounded corners on the top */
}
.services-search h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}
